.cabecalho {
    background-color:green;
    color: yellow;
    text-aling : center;
    max-width:800px;
    margin:0auto
    padding
}
.conteudo-principal{
background-color:blue;

}
img {
width: 200px;
height: 200px;
}