.cabecalho {
    background-color:green;
    color: yellow;
    text-aling : center;
    max-width:800px;
    margin:0auto
    padding
}
.conteudo-principal{
background-color:rgb(0, 255, 136);
max-width: 1000px;
}
img {
width: 200px;
height: 200px;
}


.cabecalho-paragrafo{
    font-weight: bold;
}

.conteudo-autor{
    font-weight: bold;
    text-decoration: italic;
}
.conteudo-principal-texto{
    font-weight: bold;
}






